<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>과제</h1>
<button onclick="location.href='/employee/200'">특정 직원 조회</button>
<button onclick="location.href='/employee/list'">직원 전체 조회</button>
<button onclick="location.href='/employee/querymethod'"> 쿼리메소드</button>
<button onclick="location.href='/employee/regist'">직원 등록</button>
<button onclick="location.href='/employee/modify'">직원 정보 수정</button>
<button onclick="location.href='/employee/delete'">직원  삭제</button>
</body>
</html>